::ng-deep .tooltip-container {
  z-index: 100;
  position: fixed;
  padding: 12px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 600;
  line-height: initial;
  color: white;
  width: auto;
  box-sizing: border-box;
  opacity: 0;
  animation: tooltip-slide 0.18s ease-out 0.5s;
  animation-fill-mode: forwards;
  pointer-events: none;
}

@keyframes tooltip-slide {
  0% {
    opacity: 0;
    transform: translate(-50%, -30%);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
