
<div class="todo-list-panel">
  <section class="main" [ngClass]="{hidden: noTodoClass$ | async}">
    <input
      id="toggle-all"
      class="toggle-all"
      type="checkbox"
      [checked]="isAllTodoSelected$ | async"
      (change)="toggleAllTodos($event)"/>
    <label for="toggle-all" [tooltip]="'Mark all as completed'"></label>
    <ul class="todo-list">
      <app-todo-item
        class="todo-item"
        *ngFor="let todo of visibleTodo$ | async"
        [todo]="todo"
        [ngClass]="{focus: (focusTodo$ | async).id  === todo.id && isShowInfo }"
        [isEditing]="editingId === todo.id"
        (setEditingId)="setEditingId($event)"
        (setFocusId)="setFocusId($event)"></app-todo-item>
    </ul>
  </section>
  <app-todo-info
    class="todo-info"
    *ngIf="(this.focusTodo$ | async) !== undefined"
    [ngClass]="{hidden: noTodoClass$ | async}"
    [todo]="this.focusTodo$ | async"
    [ngClass]="{ hidden: !isShowInfo }"></app-todo-info>
</div>
