<header class="header">
  <h1>Todo</h1>
  <span class="error">{{error}}</span>
  <input
    class="new-todo"
    placeholder="what need to be done?"
    autofocus
    [value]="text"
    (keyup)="changeText($event)"
    (keyup.enter)="addToDo()"/>
</header>
