<li [ngClass]="{ editing: isEditingProp }">
  <div class="view">
    <input [tooltip]="todoProp.isCompleted ? 'Completed' : 'Active'"
      class="toggle"
      type="checkbox"
      [checked]="todoProp.isCompleted"
      (change)="toggleTodo()"/>
      <label
        (dblclick)="setTodoInEditMode()"
        (click)="setTodoInFocusMode()">
        {{todoProp.title}}
        <hr style="margin: 0 0 0 0; width: 90%">
        <span class="createDateLabel">create date: {{ todoProp.createDate | date}}</span>
      </label>
      <button class="destroy" (click)="removeTodo()" [tooltip]="'Delete'"></button>
  </div>
  <ng-container *ngIf="isEditingProp">
    <input
      class="edit"
      #textInput
      [value]="editingText"
      (keyup)="changeText($event)"
      (keyup.enter)="changeTodo()"/>
    <span class="error" style="font-size: small;">{{error}}</span>
  </ng-container>
</li>
