<div class="search-box" [class.open]="isOpen">
  <input class="search-box__input" type="text" [(ngModel)]="searchValue" (keyup.enter)="handleSearch()">
  <div class="search-box__btn" >
    <button class="btn-search" (click)="handleSearch()"
    [tooltip]="'Search'" [tooltipPlace]="'bottom'">
      <i class="fas fa-search"></i>
    </button>

    <button class="btn-close" [class.none]="!isOpen" (click)="handleRefresh()"
    [tooltip]="'Close'">
      <i class="fa-solid fa-angle-left"></i>
    </button>

  </div>
</div>
