*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.search-box{
  margin: 0 auto;
  background-color: #b83f45;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
  transition: 0.5s;
}
.search-box__input{
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 0 124px 0 20px;
  color: white;
}
.search-box__btn{
  position: absolute;
  right: 0;
  top: 0;
}
.search-box__btn button{
  width: 60px;
  height: 60px;
  font-size: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
}
.search-box__btn .btn-close {
  font-size: 25px;
  background-color: #f2f4f8;
  color: #b83f45;
}
.search-box__btn .btn-search i{
  color: white;
}
.search-box.open{
  width: 100%;
  transition: 0.5s;
  border-radius: 0;
}
.none{
  display: none;
}
