<div [ngClass]="{ editing: isEditing}">
  <div class="view">
    <h2 class="title">{{title}}</h2>
    <label>
      Description
      <hr style="margin: 0px 0px 10px 0px;">
      <div>
        <textarea
          class="description"
          #textInput
          [value]="this.todoProp.description"
          (keyup)="changeText($event)"
          (keyup.enter)="changeTodo()"
          name="" id=""
          cols="30"
          rows="10"
          draggable="false"
        ></textarea>
      </div>
      <button class="btn-save" (click)="changeTodo()">Save</button>
    </label>
  </div>
</div>
