<div style="display: flex; flex-direction: row; max-width: 100%;">
  <div class="todoapp">
    <search-box></search-box>
    <app-footer></app-footer>
      <app-todos-header></app-todos-header>
      <app-todos-list></app-todos-list>

  </div>
</div>
